* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--white);
  background-color: var(--fp-gray-color);
}

.app {
  text-align: center;
}

.toggle {
  font-family: inherit;
  font-size: 1rem;
  border: 0;
  border-radius: 0.25rem;
  color: black;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin: 1.5rem;
  text-transform: uppercase;
  background: var(--fp-gray-gradient);
}

#bottleView {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1260px;
}

.sectionPadding {
  padding: 4rem 2rem;
}

.product {
  background: var(--fp-blue-color);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1rem;
}

.listProductsDv,
.listProductsBv {
  display: grid;
  gap: 1rem;
}
.listProductsDv {
  grid-template-columns: 1fr;
}

.listProductsDv .product {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listProductsBv {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.productImage {
  object-fit: contain;
  height: 90px;
}

.productBody {
  width: 200px;
  text-align: end;
}