:root {
  --font-family: titillium-web, sans-serif;

  --black: #000000;
  --white: #ffffff;
  --fp-gray-color: #a5a5a5;
  --fp-blue-color: #4472c4;
  --background-color: var(--white);
  --text-color: var(--black);
  --fp-gray-gradient: radial-gradient(circle at 50% 50%, rgba(165, 165, 165, 1) 0%, rgba(97, 96, 100, 0.93) 89%);
  --fp-gray-radient-reverse: radial-gradient(circle at 50% 50%, rgba(165, 165, 165, 1) 21%, rgba(97, 96, 100, 0.93) 100%);


  --base-font-size: 16px;
  --base-line-height: 1.8; /* default value is 1.2*/
}